@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: #141d26;
}

section {
    background-color: #141d26;
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1.25rem;
    color: white;
}

div img {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px;
    border-radius: 12px;
}

.posts {
    background-color: #243447;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
    /*    border-bottom: 1px solid white;*/
}

.user {
    color: white;
}

.profile {
    background-color: #243447;
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
}

#profile {
    float: left;
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 10px;
}

.modal-footer {
/*    width: 102.5%;*/
    justify-content: center;
}

.info{
    padding: 5px;
    font-size: 1.19rem;
}

.tags{
    border: 5px;
}
