ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom-color: grey;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

li {
    float: left;
    font-family: sans-serif;
    font-size: 110%;
}

.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: forestgreen;
    text-decoration: none;
    color: white;
}

section {
    background-color: #3b3b3b;
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.new_user {
    float: left;
    font-family: sans-serif;
    font-size: 0.9rem;
}


div img {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.posts {
    margin: 30px;
    border-bottom: 1px solid white;
}

.toolbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.toolbar li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: sans-serif;
    font-size: 90%;
}

.toolbar li:hover {
    opacity: 0.7;
}

.user {
    color: white;
}

#profile{
    float:right;
    border-radius: 50px;
}
