<html>

<head>
    <title> Memestagram </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/home"><i class="fab fa-instagram"></i> Memestagram </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
            </ul>
            <form class="form-inline my-2 my-lg-0" action="search" method="get">
                <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" id="searchbar" name="search_item">
                <button class="btn btn-dark" id="search_btn"> 
                    <i class="fas fa-search"></i>
                </button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown"> 
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Welcome, {{user}}
                    </a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#share_meme">
                        <i class="far fa-image"></i>
                        Post a Meme
                    </button>
                </ul>
            </form>
        </div>
    </nav>
    <section id="section">
        <div class="posts">
            <center>
                <h5> This Machine Project was done in partial fulfillment to appease the WEBAPDE God (Ms. Courtney Ngo)
                </h5>
            </center>
            <a data-toggle="modal" data-target="#enlarge">
                <img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/36426836_1974003572619950_5510485887361744896_n.jpg?_nc_cat=0&oh=dd7b49d60e29393a67bd31737cc10bfe&oe=5BD3C4AB"/>
            </a>
        </div>
    </section>
    
    <center>
        <div class="footer">
            © 2018 Memestagram | <a href="/about">About Us</a>
        </div>
    </center>

<!--MODALS-->
    <div class="modal fade" id="enlarge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">The Creators at UHACKADEMIA (2nd Runner-up)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/36426836_1974003572619950_5510485887361744896_n.jpg?_nc_cat=0&oh=dd7b49d60e29393a67bd31737cc10bfe&oe=5BD3C4AB" />
                </div>
                <center>ABLAZA | CHO | SAYSON</center>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--Post Meme-->
    <form action="postMeme" method="post">
        <div class="modal fade" id="share_meme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Share your Meme</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-4">
                            <i class="fab fa-telegram-plane prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Caption</label>
                            <input type="text" id="orangeForm-name" class="form-control validate" name="title">
                        </div>
                        <div class="md-form mb-4">
                            <i class="fas fa-tags prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-email">Tags</label>
                            <input type="text" id="orangeForm-email" class="form-control validate" name="tags">
                            <small id="tagsHelpBlock" class="form-text text-muted">
                              Separate tags with a comma (,)
                            </small>
                        </div>

                        <div class="md-form mb-4">
                            <i class= "fas fa-user-tag prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-pass">Share to your friends</label>
                            <input type="text" id="orangeForm-pass" class="form-control validate" name="users">
                            <small id="tagsHelpBlock" class="form-text text-muted">
                            Put your friend's email address associated with M.F.T.W.S.
                            </small>
                        </div>

                        <div class="md-form mb-3">
                            <i class="fas fa-images prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Image URL</label>
<!--                            <input type="text" id="orangeForm-description" class="form-control validate" name="link">-->
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="customFile" name="link">
                              <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Post"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>

</html>
